src/test/java/org/jahap/business/acc/fulldtd.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/fulldtd.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE dataset SYSTEM "fulldtd.dtd">

    <dataset>
    ...
    </dataset>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT dataset (VATTYPE|VAT|SEQUENCE|ROOMS|REVENUE|REVACCOUNTS|ACCOUNTS|ACCOUNT_POSITION|ADDRESS|BILL|CSC|LOG_ACCOUNTING|OCC|PAYED|PAYMENTTYPES|RATES|RECEIVABLES|RES)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT ACCOUNTS EMPTY>
<!ATTLIST ACCOUNTS
    RESERVATION CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    CSCSERVICE CDATA #IMPLIED
    CHECKINDATE CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT ACCOUNT_POSITION EMPTY>
<!ATTLIST ACCOUNT_POSITION
    POSITIONNAME CDATA #IMPLIED
    ACCOUNT CDATA #IMPLIED
    ID CDATA #IMPLIED
    BILL CDATA #IMPLIED
    VAT CDATA #IMPLIED
    PAYMENT CDATA #IMPLIED
    BILLED CDATA #IMPLIED
    AMOUNT CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    DEBIT CDATA #IMPLIED
    RATE CDATA #IMPLIED
    CANCELEDPOSITION CDATA #IMPLIED
    CANCELED CDATA #IMPLIED
    RATEDATE CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ZIPCODE CDATA #IMPLIED
    STREET CDATA #IMPLIED
    PHONE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CITY CDATA #IMPLIED
    CHRISTIANNAME CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT BILL EMPTY>
<!ATTLIST BILL
    CANCELEDBILL CDATA #IMPLIED
    CANCELED CDATA #IMPLIED
    BILLNAME CDATA #IMPLIED
    BILLDATE CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    BILLNO CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT CSC EMPTY>
<!ATTLIST CSC
    ACCOUNT CDATA #IMPLIED
    TODATE CDATA #IMPLIED
    FROMDATE CDATA #IMPLIED
    RATE CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT LOG_ACCOUNTING EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT OCC EMPTY>
<!ATTLIST OCC
    ACCOUNT CDATA #IMPLIED
    RES CDATA #IMPLIED
    ROOM CDATA #IMPLIED
    DEPARTUREDATE CDATA #IMPLIED
    GUEST CDATA #IMPLIED
    ARRIVALDATE CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT PAYED EMPTY>
<!ATTLIST PAYED
    OPENPOS CDATA #IMPLIED
    PAYMENTTYPE CDATA #IMPLIED
    DEBIT CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT PAYMENTTYPES EMPTY>
<!ATTLIST PAYMENTTYPES
    RECEIVABLE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT RATES EMPTY>
<!ATTLIST RATES
    NET CDATA #IMPLIED
    VATTYPE CDATA #IMPLIED
    OVERNIGHT CDATA #IMPLIED
    REVACCOUNT CDATA #IMPLIED
    CODE CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT RECEIVABLES EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT RES EMPTY>
<!ATTLIST RES
    DEPARTUREDATE CDATA #IMPLIED
    ADDRESSID CDATA #IMPLIED
    RESNO CDATA #IMPLIED
    ARRIVALDATE CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT REVACCOUNTS EMPTY>
<!ATTLIST REVACCOUNTS
    NAME CDATA #IMPLIED
    REVACCOUNTNUMBER CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT REVENUE EMPTY>
<!ATTLIST REVENUE
    REVDATE CDATA #IMPLIED
    REVACCOUNT CDATA #IMPLIED
    ACCOUNTPOSITION CDATA #IMPLIED
    DEBIT CDATA #IMPLIED
    AMOUNT CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT ROOMS EMPTY>
<!ATTLIST ROOMS
    NAME CDATA #IMPLIED
    CODE CDATA #IMPLIED
    CATEGORY CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT SEQUENCE EMPTY>
<!ATTLIST SEQUENCE
    SEQ_COUNT CDATA #IMPLIED
    SEQ_NAME CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT VAT EMPTY>
<!ATTLIST VAT
    AMOUNT CDATA #IMPLIED
    VATTYPE CDATA #IMPLIED
    DATE CDATA #IMPLIED
    DEBIT CDATA #IMPLIED
    ID CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT VATTYPE EMPTY>
<!ATTLIST VATTYPE
    PERCENTAGE CDATA #IMPLIED
    DATEVAT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ID CDATA #IMPLIED
  >
